
.section-view{
  min-height: 100vh;
  background-color: #161b22;
}
.img-logo{
  width: 330px;
  padding-bottom: 40px;
}
.content-view{
  margin-top: -85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-avatar{
    background-color: #3f78c700;
  }
  .search{
    margin-top: -50px;
   margin-bottom: 20px;
  }
}
.ant-input{
  background-color: #0d1117;
}
